<br><br><br>
<p class="text-center" style="font-size: xx-large; font-weight: bolder;">Mwangaza Little Readers</p>
<br><br><br>
<div class="container">
    <div class="row" >
        <div class="col-md-6">
            <br><br> <br>
            <p style="font-size: large;"> A website for Mwangaza Little Readers which is a voluntary organisation for helping young learners with books</p>
            <br><br><br>
            <div class="wrapper">
                <a href="https://github.com/dennis027/mwangaza-little-readers">  <button class="text-center" mat-raised-button color="accent">Repo Link<img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" style="width: 50px;"></button></a>
                <a href="https://dennis027.github.io/mwangaza-little-readers/"> <button class="b" mat-stroked-button color="accent">Go Live<img src="./assets/photos/rocket.svg" alt="" style="width: 50px;"></button></a>
               
            </div>
        </div>
        <div class="col-md-6">
            <img src="./assets/photos/mwangaza5.png" alt="" class="card-img">
        </div>
    </div>
    <br><br><br>
    <div class="row" >
        <div class="col-md-6">
            <img src="./assets/photos/mwangaza2.png" alt="" class="card-img">
        </div>
        <div class="col-md-6">
            <img src="./assets/photos/mwangaza3.png" alt="" class="card-img">
        </div>
    </div>
</div>