<!-- <app-navbar></app-navbar> -->
<div class="header" >
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
            <p1 id="one"><b>Hello I'm Dennis Kimani</b> </p1>
            <br><br><br>
            <p>I am a fullstack developer and Cyber Security beginner<p>
            <br><br><br>
            <b><p style="font-size: x-large;">Who I Am</p></b>
                
            <p>I am a talented, ambitious and hardworking individual, with broad skills in frontend web development skills and some backend skills. Furthermore, I am adaptive to handling multiple tasks on a daily basis competently and working well under the schedule to reach the required goal. A key strength is communication and building strong relationships with people in order to deliver the best results.</p>    
            </div>
            <div class="col-md-4"><img src="./assets/photos/kiman.png" alt="" style="width: 100%;   border-radius: 50%;  box-shadow: 10px 10px 5px #ccc;
                -moz-box-shadow: 10px 10px 5px rgb(228, 31, 31);
                -webkit-box-shadow: 10px 10px 5px rgb(22, 37, 104);
                -khtml-box-shadow: 10px 10px 5px rgb(54, 69, 206);"> </div>
        </div>
        <br><br><br>
    </div>
</div>
