<!-- <app-navbar></app-navbar> -->
<br><br>
<p class="text-center" style=" font-weight: bolder;" id="one">Here Are Some of My Achivements</p>
<br><br><br>

<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-md-4" style="margin-top: 15px;">
            <mat-card  style="background-color: rgb(222, 224, 238);" >
                <mat-card-title><h1>Mwangaza Little Readers</h1></mat-card-title>
                <mat-card-content></mat-card-content>
                <mat-card-image><img src="./assets/photos/mwangaza5.png" alt="" class="zoom"></mat-card-image> 
                <mat-card-actions>
                    <div class="centered"  ><h3 class="overr"></h3></div>
                </mat-card-actions> 
                <mat-card-footer>
                  
                    <button mat-raised-button (click)="openDialog()">See More</button>
                </mat-card-footer>
            </mat-card> 
        </div>
        <div class="col-md-4" style="margin-top: 15px;">
            <mat-card  style="background-color: rgb(222, 224, 238);"  >
                <mat-card-title><h1>Kinetik Network</h1></mat-card-title>
                <mat-card-content></mat-card-content>
                <mat-card-image><img src="./assets/photos/kinetik3.png" alt="" class="zoom" style="height: 220px;"></mat-card-image> <br>
                <mat-card-actions>
                    <div class="centered"  ><h3 class="overr">Structure of Webpage<br></h3></div>
                </mat-card-actions> 
                <mat-card-footer>
                    <button mat-raised-button (click)="openDialog3()">See More</button>

                </mat-card-footer>
            </mat-card> 
        </div>
        <div class="col-md-4" style="margin-top: 15px;">
            <mat-card  style="background-color: rgb(222, 224, 238);" >
                <mat-card-title><h1>Akan Naming</h1></mat-card-title>
                <mat-card-content></mat-card-content>
                <mat-card-image><img src="./assets/photos/akan.png" alt="" class="zoom" height="120%"></mat-card-image> <br>
                <mat-card-actions>
                    <div class="centered"  ><h3 class="overr"><br></h3></div>
                </mat-card-actions> 
                <mat-card-footer>
                  
                    <button mat-raised-button (click)="openDialog2()">See More</button>
                </mat-card-footer>
            </mat-card> 
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-4" style="margin-top: 15px;">
            <mat-card  style="background-color: rgb(222, 224, 238);" >
                <mat-card-title><h1>Quotes Rating</h1></mat-card-title>
                <mat-card-content></mat-card-content>
                <mat-card-image><img src="./assets/photos/quote2.png" alt="" class="zoom" style="height: 220px;"></mat-card-image> 
                <mat-card-actions>
                    <div class="centered"  ><h3 class="overr"></h3></div>
                </mat-card-actions> 
                <mat-card-footer>
                  
                    <button mat-raised-button (click)="openDialog1()">See More</button>
                </mat-card-footer>
            </mat-card> 
        </div>
        <div class="col-md-4" style="margin-top: 15px;">
            <mat-card  style="background-color: rgb(222, 224, 238);" >
                <mat-card-title><h1>Delani Studio</h1></mat-card-title>
                <mat-card-content></mat-card-content>
                <mat-card-image><img src="./assets/photos/delani2.png" alt="" class="zoom"></mat-card-image> 
                <mat-card-actions>
                  
                </mat-card-actions> 
                <mat-card-footer>
                  
                    <button mat-raised-button (click)="openDialog4()">See More</button>
                </mat-card-footer>
            </mat-card> 
        </div>
    </div>
</div>


