<!-- <app-navbar></app-navbar> -->
<br><br><br>
<p class="text-center" style=" font-weight: bolder;" id="one">Send Me a Message</p>
<br><br>
<div class="text-center">
  <button style="font-size: larger;" mat-raised-button (click)="openDialog()">Click To Send Message</button>
</div>


<br><br>
<p class="text-center" style="font-size: medium;"> Email Address:
<textarea id="clipboard-example-textarea" cols="20" rows="2" [(ngModel)]="copyClipText" readonly></textarea>
<button mat-raised-button [cdkCopyToClipboard]="copyClipText" [cdkCopyToClipboardAttempts]="7">Copy Email</button>
</p>
<br>
<p class="text-center" style="font-size: medium;"> Phone Number:
  <textarea id="clipboard-example-textarea" cols="20" rows="2" [(ngModel)]="copyClipText1" readonly></textarea>
  <button mat-raised-button [cdkCopyToClipboard]="copyClipText1" [cdkCopyToClipboardAttempts]="7">Copy Contact</button>
  </p>
<br>
<p class="text-center"><b>Location: Nairobi Kenya</b></p>
<br>

<p class="text-center" style="font-size: medium;"> Lets Get Social</p>
<br>
<div class="container" style="text-align: center;">
  <a href="https://linkedin.com/in/dennis-kimani-06a957201">   <i class="fa fa-linkedin" id="one" aria-hidden="true"  style="font-size: 30px;"></i> </a>

  <a href="https://github.com/dennis027"><i class="fa fa-github" id="one" aria-hidden="true"  style="font-size: 30px;"></i></a>
  
  <a href="https://twitter.com/macharia027">  <i class="fa fa-twitter" id="one" aria-hidden="true"  style="font-size: 30px;"></i></a>

</div>
<br><br>