<br><br><br>
<p class="text-center" style="font-size: xx-large; font-weight: bolder;">Akan Naming</p>

<br><br><br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p style="font-size: large;">This is a website with a brief description about a community known as Akan which uses a day method to name their children</p>
            <br><br>
            <p style="font-size: large;">The Website was to test my understanding on JavaScript and JQuery which was supposed to calculte peoples names as in accordance with day born</p>
            <br><br>
            <p style="font-size: large;"> Technologies Used </p>
            <ul style="font-size: medium;">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Git</li>
         
            </ul>
            <br><br>
            <div class="wrapper">
                <a href="https://github.com/dennis027/Akan-naming">  <button class="text-center" mat-raised-button color="accent">Repo Link<img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" style="width: 50px;"></button></a>
                <a href="https://dennis027.github.io/Akan-naming/"> <button class="b" mat-stroked-button color="accent">Go Live<img src="./assets/photos/rocket.svg" alt="" style="width: 50px;"></button></a>
               
            </div>
        </div>
        <div class="col-md-6">
            <img src="./assets/photos/akan.png" alt="" class="card-img">
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <img src="./assets/photos/akan2.png" alt="" class="card-img" style="width: 100% ; height: 70%;">
            <br> <br>
            <div mat-dialog-actions>
                <button mat-button (click)="onNoClick()">Close</button>
            
              </div>
        </div>
        <div class="col-md-6">
            <br><br>
            <p style="font-size: large;">The Website is fully Responsive and you can try going live using a mobile device</p>
        </div>
    </div>
</div>
<br><br>
