<br><br><br>
<p class="text-center" style="font-size: xx-large; font-weight: bolder;">Delani Studio</p>
<br><br><br>
<div class = container>
    <div class="row">
        <div class="col-md-6">
            <br><br>
            <p style="font-size: large;">This is a webpage for Delani studio helping one to know what we are really involved in and our services.Its simple to use and explore since it is making use of simple user friendly tags</p>
        </div>
        <div class="col-md-6">
            <img src="./assets/photos/delani2.png" alt="" class="card-img">
        </div>
    
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-md-6">
            <img src="./assets/photos/delani.png" alt="" class="card-img">
        </div>
        <div class="col-md-6">
            <br><br><br><br>
            <p style="font-size: large;">It includes a form where a user is able to send a message </p>
        </div>
    </div>
    <br><br><br><br>
    <div class="row">
    <div class="col-md-6">
        <br><br> <br><br>
        <p style="font-size: large;">The website is fully Responsive here is an example of medium shaped screen</p>
    </div>
    <div class="col-md-6">
        <img src="./assets/photos/delani3.png" alt="" class="card-img" style="width: 40%;">
    </div>
    </div>
</div>
<br>
<button class="text-center" mat-raised-button color="accent">Accent</button>
<button mat-stroked-button color="accent">Accent</button>

