<app-navbar></app-navbar>
<div id="one" class="text-center">
    <br><br><br><br>
    <p class="text-center" style="font-size: xx-large; font-weight: bolder;"><b> Here The Skills Am Comfortable working with</b></p>
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-3" >
                <mat-card  (mouseover)="showDiv = true" (mouseleave)="showDiv = false" style="background-color: rgb(222, 224, 238);" >
                    <mat-card-title><h1>HTML</h1></mat-card-title>
                    <mat-card-content></mat-card-content>
                    <mat-card-image><img src="./assets/photos/html.svg" alt="" class="card-img"></mat-card-image> <br>
                    <mat-card-actions>
                        <div class="centered" *ngIf = "showDiv" ><h3 class="overr">Structure of Webpage<br></h3></div>
                    </mat-card-actions> 
                    <mat-card-footer>
                      
    
                    </mat-card-footer>
                </mat-card> 
        </div>
            
            <div class="col-md-3">
                <mat-card  (mouseover)="showDiv1 = true" (mouseleave)="showDiv1 = false" style="background-color: rgb(222, 224, 238);" >
                    <mat-card-title><h1>CSS</h1></mat-card-title>
                    <mat-card-content></mat-card-content>
                    <mat-card-image><img src="./assets/photos/css.png" alt="" class="card-img"></mat-card-image> <br>
                    <mat-card-actions>
                        <div class="centered" *ngIf = "showDiv1" ><h3 class="overr">Presentation and Design of Webpage<br></h3></div>
                    </mat-card-actions> 
                    <mat-card-footer>
                      
    
                    </mat-card-footer>
                </mat-card> 
               
        </div>
            <div class="col-md-3">
                <mat-card  (mouseover)="showDiv2 = true" (mouseleave)="showDiv2 = false" style="background-color: rgb(222, 224, 238);" >
                    <mat-card-title><h1>JavaScript</h1></mat-card-title>
                    <mat-card-content></mat-card-content>
                    <mat-card-image><img src="./assets/photos/js.png" alt="" class="card-img"></mat-card-image> <br>
                    <mat-card-actions>
                        <div class="centered" *ngIf = "showDiv2" ><h3 class="overr">Creating Dynamic Website<br></h3></div>
                    </mat-card-actions> 
                    <mat-card-footer>
                      
    
                    </mat-card-footer>
                </mat-card> 
               
        </div>
            <div class="col-md-3">
                    <mat-card  (mouseover)="showDiv3 = true" (mouseleave)="showDiv3 = false" style="background-color: rgb(222, 224, 238);" >
                    <mat-card-title><h1>Python</h1></mat-card-title>
                    <mat-card-content></mat-card-content>
                    <mat-card-image><img src="./assets/photos/python.png" alt="" class="card-img"></mat-card-image> <br>
                    <mat-card-actions>
                        <div class="centered" *ngIf = "showDiv3" ><h3 class="overr">Programming Language for My Backend<br></h3></div>
                    </mat-card-actions> 
                    <mat-card-footer>
                      
    
                    </mat-card-footer>
                </mat-card> 
              
        </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-3">
                    <mat-card  (mouseover)="showDiv4 = true" (mouseleave)="showDiv4 = false" style="background-color: rgb(222, 224, 238);" >
                    <mat-card-title><h1>Angular</h1></mat-card-title>
                    <mat-card-content></mat-card-content>
                    <mat-card-image><img src="./assets/photos/angular.png" alt="" class="card-img"></mat-card-image> <br>
                    <mat-card-actions>
                        <div class="centered" *ngIf = "showDiv4" ><h3 class="overr">Frontend Framework<br></h3></div>
                    </mat-card-actions> 
                    <mat-card-footer>
                      
    
                    </mat-card-footer>
                </mat-card> 
              
        </div>
            <div class="col-md-3">
                    <mat-card  (mouseover)="showDiv5 = true" (mouseleave)="showDiv5 = false" style="background-color: rgb(222, 224, 238);" >
                    <mat-card-title><h1>Django</h1></mat-card-title>
                    <mat-card-content></mat-card-content>
                    <mat-card-image><img src="./assets/photos/django.png" alt="" class="card-img"></mat-card-image> <br>
                    <mat-card-actions>
                        <div class="centered" *ngIf = "showDiv5" ><h3 class="overr">Backend For Creating My APIs<br></h3></div>
                    </mat-card-actions> 
                    <mat-card-footer>
                      
    
                    </mat-card-footer>
                </mat-card> 
              
        </div>
            <div class="col-md-3">
                    <mat-card  (mouseover)="showDiv6 = true" (mouseleave)="showDiv6 = false" style="background-color: rgb(222, 224, 238);" >
                    <mat-card-title><h1>JQuery</h1></mat-card-title>
                    <mat-card-content></mat-card-content>
                    <mat-card-image><img src="./assets/photos/jquery.svg" alt="" class="card-img"></mat-card-image> <br>
                    <mat-card-actions>
                        <div class="centered" *ngIf = "showDiv6" ><h3 class="overr">JavaScript Library <br></h3></div>
                    </mat-card-actions> 
                    <mat-card-footer>
                      
    
                    </mat-card-footer>
                </mat-card> 
                
        </div>
            <div class="col-md-3">
                    <mat-card  (mouseover)="showDiv7 = true" (mouseleave)="showDiv7 = false" style="background-color: rgb(222, 224, 238);" >
                    <mat-card-title><h1>Bootstrap</h1></mat-card-title>
                    <mat-card-content></mat-card-content>
                    <mat-card-image><img src="./assets/photos/bootstrap.png" alt="" class="card-img"></mat-card-image> <br>
                    <mat-card-actions>
                        <div class="centered" *ngIf = "showDiv7" ><h3 class="overr">For Responsive Websites<br></h3></div>
                    </mat-card-actions> 
                    <mat-card-footer>
                      
    
                    </mat-card-footer>
                </mat-card> 
               
        </div>
        </div>
        <br><br>
        <p class="text-center" style="font-size: xx-large; font-weight: bolder;"><b> Technologies I Use To Implment My Skills</b></p>
        <br><br>
        <div class="row">
            <div class="col-md-3">
                    <mat-card  (mouseover)="showDiv8 = true" (mouseleave)="showDiv8 = false" style="background-color: rgb(222, 224, 238);" >
                    <mat-card-title><h1>Git</h1></mat-card-title>
                    <mat-card-content></mat-card-content>
                    <mat-card-image><img src="./assets/photos/git.png" alt="" class="card-img"></mat-card-image> <br>
                    <mat-card-actions>
                        <div class="centered" *ngIf = "showDiv8" ><h3 class="overr">Version Control<br></h3></div>
                    </mat-card-actions> 
                    <mat-card-footer>
                      
    
                    </mat-card-footer>
                </mat-card> 
              
        </div>
            <div class="col-md-3">
                    <mat-card  (mouseover)="showDiv9 = true" (mouseleave)="showDiv9 = false" style="background-color: rgb(222, 224, 238);" >
                    <mat-card-title><h1>GitHub</h1></mat-card-title>
                    <mat-card-content></mat-card-content>
                    <mat-card-image><img src="./assets/photos/github.svg" alt="" class="card-img"></mat-card-image> <br>
                    <mat-card-actions>
                        <div class="centered" *ngIf = "showDiv9" ><h3 class="overr">Hosting My Code Online<br></h3></div>
                    </mat-card-actions> 
                    <mat-card-footer>
                      
    
                    </mat-card-footer>
                </mat-card> 
          
        </div>
            <div class="col-md-3">
                    <mat-card  (mouseover)="showDiv10 = true" (mouseleave)="showDiv10 = false" style="background-color: rgb(222, 224, 238);" >
                    <mat-card-title><h1></h1></mat-card-title>
                    <mat-card-content></mat-card-content>
                    <mat-card-image><img src="./assets/photos/heroku.svg" alt="" class="card-img"></mat-card-image> <br>
                    <mat-card-actions>
                        <div class="centered" *ngIf = "showDiv10" ><h3 class="overr">Hosting My Django APIs<br></h3></div>
                    </mat-card-actions> 
                    <mat-card-footer>
                      
    
                    </mat-card-footer>
                </mat-card> 
            
        </div>
            <div class="col-md-3">
                    <mat-card  (mouseover)="showDiv11 = true" (mouseleave)="showDiv11 = false" style="background-color: rgb(222, 224, 238);" >
                    <mat-card-title><h1>VS Code</h1></mat-card-title>
                    <mat-card-content></mat-card-content>
                    <mat-card-image><img src="./assets/photos/vscode.svg" alt="" class="card-img"></mat-card-image> <br>
                    <mat-card-actions>
                        <div class="centered" *ngIf = "showDiv11" ><h3 class="overr">IDE With Best Web Extensions1<br></h3></div>
                    </mat-card-actions> 
                    <mat-card-footer>
                      
    
                    </mat-card-footer>
                </mat-card> 
             
        </div>
        </div>
    </div>
    
</div>

