

.card-img{
    width: 40%;
}


.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ove{
      background-color: rgba(244, 246, 216, 0.8);
      font-size: xx-large;
      color: rgb(17, 16, 16);
  }

  .overr{
    background-color: rgba(244, 246, 216, 0.8);
    font-size: xx-large;
    color: rgb(17, 16, 16);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
 
 
  }

  #one{

    font-size: 300%; 
}
@media only screen and (max-width: 320px) {

  #one { 
     font-size: 2em; 
  }

}
@media only screen and (max-width: 500px) {

  #one { 
     font-size: 4em; 
  }

}
@media only screen and (max-width: 720px) {

  #one { 
     font-size: 3em; 
  }

}
@media only screen and (max-width: 700px) {

  #one { 
     font-size: 2em; 
  }

}